<!-- Post Content -->
<article>
  <div class="container">
    <div class="row" style="background-color: white">
      <div class="col-lg-8 col-md-12 mx-auto text-justify">
        <p>
          Are you looking to escape the hustle and bustle of the busy city life and leave your responsibilities behind? Do you feel
          like spending a healthy and active weekend in the company of like-minded people while being taken care of? If this
          sounds like you, then keep reading!
        </p>
        <a href="img/FitnessWeekends/fitness_1.jpg">
          <img class="img-fluid" src="img/thumb_fitness_1.jpg" alt="fitness weekends">
        </a>
        <p>
          My Fitness Weekend Getaways are a rejuvenating experience. It’s an opportunity to get away from daily routine, enjoy fitness
          and yoga classes, and have healthy nutritious meals all prepared by me which means you won’t have to worry about
          cooking!
        </p>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="row">
              <div class="col">
                <a href="img/FitnessWeekends/fitness_2.jpg">
                  <img class="img-fluid" src="img/thumb_fitness_2.jpg" alt="fitness weekends">
                </a>
              </div>

              <div class="col">
                <a href="img/FitnessWeekends/fitness_3.jpg">
                  <img class="img-fluid" src="img/thumb_fitness_3.jpg" alt="fitness weekends">
                </a>
              </div>
            </div>
          </div>
        </div>
        <p>
          You get to spend the weekend sharing experiences with a group of adventurous ladies, talking about all things girly, laughing,
          and playing games. I’ll put together a unique top notch workout programme and healthy menu so this will be a perfect
          atmosphere to relax and renew yourself.
        </p>
        <p>
          While every retreat is slightly different from the previous one, my goal stays the same – to create a place for you to unplug,
          de-stress and recharge.
        </p>
        <p>
          What can you expect during this weekend?
        </p>
        <ul style="list-style-type:none">
          <li>
            - Accommodation in a stunning location
          </li>
          <li>
            - Daily workouts
          </li>
          <li>
            - Morning run
          </li>
          <li>
            - Yoga classes
          </li>
          <li>
            - Healthy meals
          </li>
          <li>
            - A chance to make new friends
          </li>
          <li>
            - A place to de-stress and recharge
          </li>
        </ul>
        <p>
          My Fitness Weekend Getaways are junk food and alcohol- FREE zone!
        </p>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="row">
              <div class="col">
                <a href="img/FitnessWeekends/fitness_4.jpg">
                  <img class="img-fluid" src="img/thumb_fitness_4.jpg" alt="fitness weekends">
                </a>
              </div>
              <div class="col">
                <a href="img/FitnessWeekends/fitness_5.jpg">
                  <img class="img-fluid" src="img/thumb_fitness_5.jpg" alt="fitness weekends">
                </a>
              </div>
            </div>
          </div>
        </div>
        <p>
          To find out more about my next Fitness Weekend, please send me an <a href="/contact">email</a> and I will be in
          touch as soon as possible.
        </p>
      </div>
    </div>
  </div>
</article>